/* Only styles that are shared across multiple components (i.e. global) should go here, trying to keep this file
nimble to simplify maintenance. We separate variables and mixins in vars.scss to be able to import those into local
style files without adding already imported styles. */

// Global components
@import 'node_modules/react-toastify/dist/ReactToastify';
@import './vars';
@font-face {
    font-family: 'GoshaSans-Bold';
    src: url('../public/GoshaSans-Bold.woff2') format('woff2'), url('../public/GoshaSans-Bold.woff') format('woff');
}

:root {
    --primary: #{$primary};
    --primary-alt: #{$primary_alt};
    --success: #{$success};
    --danger: #{$danger};
    --warning: #{$warning};
    --bg-menu: #{$bg_menu};
    --bg-mid: #{$bg_mid};
    --bg-charcoal: #{$bg_charcoal};
    --text-default: #{$text_default};
    --text-light: #{$text_light};
    --muted: #{$text_muted};
    // Used for graph series
    --blue: #{$blue_500};
    --purple: #{$purple_500};
    --salmon: #ff906e;
    --yellow: #ffc035;
    --green: #{$success};
    --indigo: #{$purple_700};
    --cyan: #17a2b8;
    --pink: #e83e8c;
    --white: #f4f6ff;
    --maroon: #800000;
    --mint: #aaffc3;
    --olive: #808000;
    --navy: #000075;
    --orange: #f58231;
    --lime: #bfef45;
    --apricot: #ffd8b1;
    --brown: #9a6324;
    // Lifecycle series
    --lifecycle-new: #{$lifecycle_new};
    --lifecycle-returning: #{$lifecycle_returning};
    --lifecycle-resurrecting: #{$lifecycle_resurrecting};
    --lifecycle-dormant: #{$lifecycle_dormant};
    --lifecycle-new-hover: #{darken($lifecycle_new, 20%)};
    --lifecycle-returning-hover: #{darken($lifecycle_returning, 20%)};
    --lifecycle-resurrecting-hover: #{darken($lifecycle_resurrecting, 20%)};
    --lifecycle-dormant-hover: #{darken($lifecycle_dormant, 20%)};
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: $text_muted;
}

// Spacing & layout
.mb {
    margin-bottom: $default_spacing;
}

.mt {
    margin-top: $default_spacing;
}

.mt-05 {
    margin-top: $default_spacing * 2;
}

.mb-2 {
    margin-bottom: $default_spacing * 2;
}

.mt-2 {
    margin-top: $default_spacing * 2;
}

.mb-05 {
    margin-bottom: $default_spacing * 0.5;
}

.mb-025 {
    margin-bottom: $default_spacing * 0.25;
}

.mt-05 {
    margin-top: $default_spacing * 0.5;
}

.mt-025 {
    margin-top: $default_spacing * 0.25;
}

.mr {
    margin-right: $default_spacing;
}

.ml {
    margin-left: $default_spacing;
}

.mr-05 {
    margin-right: $default_spacing * 0.5;
}

.mr-025 {
    margin-right: $default_spacing * 0.25;
}

.ml-05 {
    margin-left: $default_spacing * 0.5;
}

.ml-025 {
    margin-left: $default_spacing * 0.25;
}

.pa {
    // Padding all
    padding: $default_spacing;
}

.pb {
    padding-bottom: $default_spacing;
}

.pb-2 {
    padding-bottom: $default_spacing * 2;
}

.pt {
    padding-top: $default_spacing;
}

.pr {
    padding-right: $default_spacing;
}

.pl {
    padding-left: $default_spacing;
}

.pr-2 {
    padding-right: $default_spacing * 2;
}

.pl-2 {
    padding-left: $default_spacing * 2;
}

.full-width {
    width: 100%;
}

.space-between-items {
    display: flex;
    justify-content: space-between;
}

// Color styles
.bg-primary {
    background-color: $primary;
}

.text-success {
    color: $success !important;
}

.text-danger {
    color: $danger !important;
}

.text-warning {
    color: $warning !important;
}

// Random general styles
.cursor-pointer {
    cursor: pointer;
}

.highlighted {
    border-radius: $radius;
    animation: highlight 2000ms ease-out;
}

@keyframes highlight {
    0% {
        background-color: $yellow_50;
    }
    100% {
        background-color: initial;
    }
}