.container {
    position: relative;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}

.animate-moon path {
    fill: white;
}

.animate-sun path {
    fill: white;
}

.title_box {
    padding: 20px 0 0 10px;
}

.description {
    margin: 0 50px 10px 50px;
    text-align: center;
}

.select {
    padding: 10px;
}

.ageGroup {
    padding: 15px;
    text-align: center;
}

.radio {
    padding: 0 0 25px 0;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

.github {
    padding-right: 6px;
    padding-left: 6px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 1.5rem;
}
