.contribute {
    padding: 10px;
}

.title {
    padding: 20px 0 0 10px;
    margin-top: 50px;
}

.description {
    margin: 0 50px 10px 50px;
    text-align: center;
}

.select {
    padding: 10px;
}

.ageGroup {
    padding: 15px;
    text-align: center;
}

.radio {
    padding: 0 0 25px 0;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.heart {
    padding-right: 3px;
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.45);
}
